name: CI
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
      - name: Build
        run: make build-web bililive
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
      - name: Test
        run: make build-web test
      - name: Codecov
        uses: codecov/codecov-action@v2